<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h1 id="failure" class="main-header">Error</h1>
    </header>
    <main>
      <section>
        <h2 class="verification-message">
          You have entered the wrong verification number, please go back a page
          and try again.
        </h2>
      </section>
    </main>
    <footer>Copyright &copy; 2019</footer>
  </body>
</html>
