<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <h1 class="main-header">Send a text</h1>
    <div class="sms-container">
      <form action="/" method="post">
        <input type="text" name="fromNumber" />
        <input type="text" name="toNumber" />
        <textarea name="message" id="" cols="40" rows="10"></textarea>
        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
