<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <header>
      <h1 class="main-header">Send a text</h1>
    </header>
    <main>
      <form action="/" method="post">
        <div class="sms-container">
          <fieldset>
            <label for="from"
              >from the following
              <strong>valid twilio number</strong> (+1XXXXXXXXXX)
            </label>
            <input type="text" name="fromNumber" class="text-box" id="from" />
            <label for="to"
              >to any phone number (try yours!) (+1XXXXXXXXXX)</label
            >
            <input type="text" name="toNumber" class="text-box" id="to" />
            <label for="message">saying:</label>
            <textarea
              name="message"
              id=""
              cols="70"
              rows="10"
              class="text-box"
              id="message"
            ></textarea>
            <input type="submit" value="Send" class="button" />
          </fieldset>
        </div>
      </form>
    </main>
    <footer>Copyright &copy; 2019</footer>
  </body>
</html>
