<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <header>
      <h1 class="main-header">Send a text</h1>
    </header>
    <main>
      <section>
        <form action="/" method="post">
          <div class="grid-container">
            <div class="flex-container">
              <label for="to"
                >Enter your phone number here (+1XXXXXXXXXX):
              </label>
              <input type="text" name="toNumber" class="text-box" id="to" />
              <label for="message"
                >and the message you would like to send:</label
              >
              <textarea
                name="message"
                id=""
                cols="70"
                rows="10"
                class="text-box"
                id="message"
              ></textarea>
              <input
                type="submit"
                value="Click Here to Magically Send This Message!"
                class="button"
              />
            </div>
          </div>
        </form>
      </section>
    </main>
    <footer>Copyright &copy; 2019</footer>
  </body>
</html>
