<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <header>
      <h1 class="main-header">Send an Authorization Code</h1>
    </header>
    <main>
      <section>
        <form action="/" method="post">
          <div class="grid-container">
            <div class="flex-container">
              <label for="to"
                >Enter your phone number with the format +1XXXXXXXXXX here
                (replace "1" with your country code):
              </label>
              <input type="text" name="toNumber" class="text-box" id="to" />
              <input type="submit" value="Send Code" class="button" />
            </div>
          </div>
        </form>
      </section>
    </main>
    <footer>Copyright &copy; 2019</footer>
  </body>
</html>
